.BoosterBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid lightgray;
  background-color:  rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  max-width: 700px;
}

.BoosterBox:hover {
  border: 1px solid rgb(175, 175, 175);
}

.BoosterBox__info {
  display: flex;
  align-items: center;
}

.BoosterBox__info > h5 {
  color: rgb(129, 129, 129);
  font-weight: bold;
  margin-left: 10px;
  font-size: large;
}

.BoosterBox__Booster {
  display: flex;
  margin-top: 8px;
}
